<div class="special-Modal">
  <div
    bsModal
    #confirmAddSl="bs-modal"
    class="modal fade disable-scroll"
    tabindex="-1"
    role="dialog"
    aria-hidden="false"
  >
    <div class="modal-dialog modal-XL">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button
              aria-hidden="true"
              class="close"
              type="button"
              (click)="close()"
            >
              <i class="pg pg-close fs-14"></i>
            </button>
            <h5 class="text-left p-b-5">
              <span class="semi-bold">Are you sure </span>to make the following
              changes for<strong
                *ngFor="let tail of tailNumber; let isLast = last"
                style=" color:red;"
              >
                {{ tail }}{{ isLast ? "" : ", " }}</strong
              >
              <span
                *ngFor="let tail of tailNumber; let isLast = last"
                class="d-inline-block"
              >
              </span>
            </h5>
          </div>

          <div class="modal-body">
            <app-simple-grid
            [gridStyle]="gridStyle"
              [gridRowData]="gridRowData"
              [gridColumnDefs]="gridColumnDefs"
              (firstDataRendered)="onFirstDataRendered($event)"
            >
            </app-simple-grid>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger pull-right m-1"
              (click)="cancelConfirm()"
            >
              <i class="fa fa-times" aria-hidden="true"></i> CANCEL
            </button>
            <button
              type="submit"
              class="btn btn-success pull-right m-1"
              (click)="saveConfirm()"
            >
              <i class="fa fa-check" aria-hidden="true"></i> YES
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
