<div class="special-Modal">
  <div bsModal #addHw="bs-modal" class="modal fade disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-XL">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <form [formGroup]="form" #formDir="ngForm" (ngSubmit)="save()">
            <div class="d-flex justify-content-center">
              <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-10">
                    <div class="">
                      <div class="card-body padding-0 text-center">
                        <h3><strong>ADD HardWare & ERD</strong></h3>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row d-flex justify-content-center">
                  <div class="col-lg-10 validationhw ">
                    <div class="card card-default">
                      <div class="card-body">
                        <div class="clear"><br /></div>
                        <div class="col-lg-8 ">
                          <div class="form-group row">
                            <div class="col-sm-3  d-flex align-items-start ">
                              <label class="m-b-0">A/C Series</label>
                            </div>
                            <div class="col-sm-9">
                              <div class="btn-group dropdown-default" dropdown ngDefaultControl
                                formControlName="acSeries">
                                <a class="btn dropdown-toggle btn-large" dropdownToggle>B787-9</a>
                              </div>
                              <div *dropdownMenu class="dropdown-menu" role="menu">
                                <a class="dropdown-item" (click)="getSelectedDropdown()"
                                  href="javascript:void(0)">B787-9</a>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-sm-3  d-flex align-items-center ">
                              <label class="m-b-0">A/C Reg</label>
                            </div>
                            <div class="col-sm-9">

                              <ng-multiselect-dropdown [placeholder]="'Enter Tail Number e.g. TC-LLC'" [data]="regList"
                                (onSelect)="selectACReg($event)" (onDeSelect)="acRegRemove($event)"
                                formControlName="acReg" (onSelectAll)="onSelectAllAcReg($event)"
                                (onDeSelectAll)="onDeSelectAllAcReg($event)" [settings]="dropdownSettings">
                              </ng-multiselect-dropdown>


                              <!-- <pg-select id="acReg_" style="width: 100%;" required [AllowClear]="true"
                                [ShowSearch]="true" [PlaceHolder]="'Enter Tail Number e.g. TC-LLC'"
                                (SearchChange)="authorizedACRegChanged($event)" (Remove)="acRegRemove($event)"
                                (OpenChange)="selectACReg($event)" class="" formControlName="acReg"
                                NotFoundContent="Not Found" [Multiple]="true" [KeepUnListOptions]="false"
                                tooltip="Enter at least 3 characters" placement="top" show-delay="500" ShowSearch
                                required>
                                <pg-option *ngFor="let reg of regList" [Label]="reg.TailNumber" [Value]="reg">
                                </pg-option>
                              </pg-select> -->

                              <div *ngIf="acReg.invalid && submitted" class="alert alert-danger">
                                <div *ngIf="acReg.errors.required">
                                  A/C Reg is required.
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>



                    <!--ERD&Descriptiom-->
                    <div class="card card-default">
                      <div class="card-body">
                        <div [class.disabled-content]="!isACRegSelected">
                          <div class="custom-control custom-radio">
                            <input #manuelErd type="radio" class="custom-control-input" value="manuelErd" name="erd" />
                            <label (click)="handleChangeforManuelErd($event)" class="custom-control-label"
                              for="manuelErd">Manuel Entry</label>
                          </div>

                          <div class="custom-control custom-radio">
                            <input #selectableErd type="radio" class="custom-control-input" value="selectableErd"
                              name="erd" checked="true" />
                            <label (click)="handleChangeforSelectableErd($event)" class="custom-control-label"
                              for="selectableErd">Selectable</label>
                          </div>

                          <div [class.disabled-content]="isErdManuelEntry">
                            <div class="form-group row">
                              <div class="col-sm-2  d-flex align-items-center ">
                                <label class="m-b-0">ERD</label>
                              </div>
                              <div class="col-sm-10">
                                <pg-select id="erd_" style="width: 100%;" required [AllowClear]="true"
                                  [ShowSearch]="true" (OpenChange)="selectErd($event)"
                                  (SearchChange)="authorizedERDChanged($event)" (RemoveSearch)="removeErdSearch($event)"
                                  class="" formControlName="erd" NotFoundContent="Not Found" [Multiple]="false"
                                  [KeepUnListOptions]="true" [PlaceHolder]="'Enter Reference Designator'"
                                  tooltip="Enter at least 3 characters" placement="top" show-delay="500" ShowSearch>
                                  <pg-option *ngFor="let erd of erdList" [Label]="erd['Value']" [Value]="erd['Value']">
                                  </pg-option>
                                </pg-select>
                                <div *ngIf="
                                    erd.invalid &&
                                    submitted &&
                                    isACRegSelected &&
                                    !isErdManuelEntry
                                  " class="alert alert-danger">
                                  <div *ngIf="erd.errors.required">
                                    ERD is required.
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="form-group row">
                              <div class="col-md-8">
                                <div class="row">
                                  <div class="col-md-3">
                                    <label class="m-b-0">ERD Description</label>
                                  </div>
                                  <div class="col-md-9">
                                    <input type="text" id="erdDescSelectedText" class="form-control"
                                      formControlName="erdDescSelectedText" PlaceHolder="Enter ERD Description" required
                                      readonly />

                                    <div *ngIf="
                                        erdDescSelectedText.invalid &&
                                        submitted &&
                                        isACRegSelected &&
                                        !isErdManuelEntry
                                      " class="alert alert-danger">
                                      <div *ngIf="
                                          erdDescSelectedText.errors.required
                                        ">
                                        ERD Description is required.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div [class.disabled-content]="!isErdManuelEntry">
                            <div class="form-group row">
                              <div class="col-md-8">
                                <div class="row">
                                  <div class="col-md-3">
                                    <label class="m-b-0">ERD</label>
                                  </div>
                                  <div class="col-md-9">
                                    <input type="text" id="erdText" class="form-control" formControlName="erdText"
                                      PlaceHolder="Enter Reference Designator" required />

                                    <div *ngIf="
                                        erdText.invalid &&
                                        submitted &&
                                        isACRegSelected &&
                                        isErdManuelEntry
                                      " class="alert alert-danger">
                                      <div *ngIf="erdText.errors.required">
                                        ERD is required.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="form-group row">
                              <div class="col-md-8">
                                <div class="row">
                                  <div class="col-md-3">
                                    <label class="m-b-0">ERD Description</label>
                                  </div>
                                  <div class="col-md-9">
                                    <input type="text" id="erdDescText" class="form-control"
                                      formControlName="erdDescText" PlaceHolder="Enter Erd Description" />

                                    <div *ngIf="
                                        erdDescText.invalid &&
                                        submitted &&
                                        isACRegSelected &&
                                        isErdManuelEntry
                                      " class="alert alert-danger">
                                      <div *ngIf="erdDescText.errors.required">
                                        ERD Description is required.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--HW PN&Description-->
                    <div class="card card-default">
                      <div class="card-body">
                        <div [class.disabled-content]="!isACRegSelected">
                          <div class="custom-control custom-radio">
                            <input #manuelHwPn type="radio" class="custom-control-input" value="hwPnValue"
                              name="hwPn" />
                            <label (click)="handleChangeforManuelHwPn($event)" class="custom-control-label"
                              for="manuelHwPn">Manuel Entry</label>
                          </div>

                          <div class="custom-control custom-radio">
                            <input #selectableHwPn type="radio" class="custom-control-input" value="hwPnValue"
                              name="hwPn" checked="true" />
                            <label (click)="handleChangeforSelectableHwPn($event)" class="custom-control-label"
                              for="selectableHwPn">Selectable</label>
                          </div>

                          <div [class.disabled-content]="isHwPnManuelEntry">
                            <div class="form-group row">
                              <div class="col-md-8">
                                <div class="row">
                                  <div class="col-md-3">
                                    <label class="m-b-0">HW PN</label>
                                  </div>
                                  <div class="col-md-9">
                                    <pg-select id="hwPn_" style="width: 100%;" [AllowClear]="true" [ShowSearch]="true"
                                      (OpenChange)="selectHw($event)" (SearchChange)="
                                        authorizedHwChanged($event)
                                      " (RemoveSearch)="removeHwPnSearch($event)" class="" [Multiple]="false"
                                      [PlaceHolder]="'Enter Part Number'" formControlName="hwPn"
                                      NotFoundContent="Not Found" tooltip="Enter at least 3 characters" placement="top"
                                      show-delay="500" ShowSearch required>
                                      <pg-option *ngFor="let hwPn of hwPnList" [Label]="hwPn['Value']"
                                        [Value]="hwPn['Value']">
                                      </pg-option>
                                    </pg-select>

                                    <div *ngIf="
                                        hwPn.invalid &&
                                        submitted &&
                                        isACRegSelected &&
                                        !isHwPnManuelEntry
                                      " class="alert alert-danger">
                                      <div *ngIf="hwPn.errors.required">
                                        HW PN is required.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="form-group row">
                              <div class="col-md-8">
                                <div class="row">
                                  <div class="col-md-3">
                                    <label class="m-b-0">HW Description</label>
                                  </div>
                                  <div class="col-md-9">
                                    <input type="text" id="hwDescSelectedText" class="form-control"
                                      formControlName="hwDescSelectedText" PlaceHolder="Enter HW Description" required
                                      readonly />

                                    <div *ngIf="
                                        hwDescSelectedText.invalid &&
                                        submitted &&
                                        isACRegSelected &&
                                        !isHwPnManuelEntry
                                      " class="alert alert-danger">
                                      <div *ngIf="
                                          hwDescSelectedText.errors.required
                                        ">
                                        HW Description is required.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div [class.disabled-content]="!isHwPnManuelEntry">
                            <div class="form-group row">
                              <div class="col-md-8">
                                <div class="row">
                                  <div class="col-md-3">
                                    <label class="m-b-0">HW PN</label>
                                  </div>
                                  <div class="col-md-9">
                                    <input type="text" id="hwPnText" class="form-control" formControlName="hwPnText"
                                      PlaceHolder="Enter Part Number" required />

                                    <div *ngIf="
                                        hwPnText.invalid &&
                                        submitted &&
                                        isACRegSelected &&
                                        isHwPnManuelEntry
                                      " class="alert alert-danger">
                                      <div *ngIf="hwPnText.errors.required">
                                        HW PN is required.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="form-group row">
                              <div class="col-md-8">
                                <div class="row">
                                  <div class="col-md-3">
                                    <label class="m-b-0">HW Description</label>
                                  </div>
                                  <div class="col-md-9">
                                    <input type="text" id="hwDescText" class="form-control" formControlName="hwDescText"
                                      PlaceHolder="Enter HW Description" required />
                                    <div *ngIf="
                                        hwDescText.invalid &&
                                        submitted &&
                                        isACRegSelected &&
                                        isHwPnManuelEntry
                                      " class="alert alert-danger">
                                      <div *ngIf="hwDescText.errors.required">
                                        HW Description is required.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div [class.disabled-content]="!isACRegSelected">
                      <div class="form-group row">
                        <div class="col-md-8">
                          <div class="row">
                            <div class="col-md-3">
                              <label class="m-b-0">ATA Chapter</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" id="ataChText" class="form-control" value="{{ ataChValue }}"
                                formControlName="ataCh" required />
                              <div *ngIf="
                                  ataCh.invalid && submitted && isACRegSelected
                                " class="alert alert-danger">
                                <div *ngIf="ataCh.errors.required">
                                  ATA Chapter is required.
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row d-flex justify-content-center">
                  <div class="col-lg-10">
                    <div class="card card-transparent">
                      <div class="text-center">
                        <button type="submit" class="btn btn-success pull-right m-1">
                          <i class="fa fa-check" aria-hidden="true"></i> SAVE
                        </button>

                        <button type="button" class="btn btn-danger pull-right m-1" (click)="clearAllData()">
                          <i class="fa fa-times" aria-hidden="true"></i> CLEAR
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-10">
                    <div class="card card-default">
                      <div class="card-header separator padding-0 text-center">
                        <h4><strong>Logs</strong></h4>
                      </div>
                      <div class="card-body logs-area">
                        <br />
                        <div class="row">
                          <div class="col-md-12">
                            <div *ngIf="isSaveSuccessful">
                              <div class="alert alert-success" role="alert">
                                <p>
                                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                  <strong>{{ saveSuccessMessage }} </strong>
                                </p>
                              </div>
                            </div>

                            <div *ngIf="isSaveError">
                              <div class="alert alert-danger" role="alert" *ngFor="let message of saveErrorMessage">
                                <p>
                                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                  <strong>{{ message }}</strong>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-add-hw-confirm #confirmAddHw (outputMessage)="setLog($event)">
</app-add-hw-confirm>